@{
    ViewBag.Title = "Selecione a Role";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>

<div class="jumbotron">
    <h4>Selecione o interesse:</h4>
    <table>
        <tr>
            <td>
                <input type="button" class="btn btn-primary" value="Locador" onclick="@Url.Action("Index", "Locador")" />
                @*<a>href="@Url.Action("Index", "Locador")" class="btn btn-primary" role="button">Locador</a>*@
            </td>
            <td>
                <input type="button" class="btn btn-primary" value="Locador" onclick="@Url.Action("Index", "Locatario")" />
                @*<a>href="@Url.Action("Index", "Locatario")" class="btn btn-primary" role="button">Locatario</a>*@
            </td>
        </tr>
    </table>
</div>